body { background: #030303; font-family: Franklin Gothic Medium, Futara, Geneva;}

#space { width:875px; height:300px; border:1px #222 solid; margin:auto; background:black; overflow:hidden; position:relative; z-index:1; }

#exploration_target { width:80px; height: 28px; margin-left:-40px; margin-top:-14px; border:1px solid #39D10F; position:absolute; top:-80px; left:-27px; z-index:2; }
#exploration_target.motion { transition: all .35s ease;}

#space.advance + #exploration_target { opacity: 0.0; transition:opacity .85s ease-out;}

#space .loading, #space .complete { width:100%; line-height:300px; font-size:80px; color:#777; text-align:center; position:absolute; top:0; opacity: 1; -webkit-transition: all .8s linear; transition: all .8s linear;}
#space .loading.faded, #space .complete.faded { opacity:.01; -webkit-transition: opacity .8s linear; transition: opacity .8s linear; }

#space .loading:after { content: 'Loading Universe'; text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000; }
#space .complete:after { content: 'Exploration Complete'; text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000; }

#space .star { width:3px; height:3px; border-radius:100%; position:absolute; background-color:white; opacity:.99; border:1px solid #cecece;-webkit-box-shadow: 0px 0px 35px 7px rgba(255,255,255,0.55);-moz-box-shadow: 0px 0px 35px 7px rgba(255,255,255,0.55);box-shadow: 0px 0px 35px 7px rgba(255,255,255,0.55);}
#space .unknown { width: 2px; height:2px; border-radius: 100%; position:absolute; background-color:white; }
#space .speck { width:0px ; height:0px; border-radius: 100%; position:absolute; background-color:white; }

#space.advance .star { width:33px; height:33px; -webkit-transition:all 30s linear; transition:all 30s linear;}
#space.advance .unknown { width:4px; height:4px; -webkit-transition:all 30s linear; transition:all 30s linear;}
#space.advance .speck { width:2px; height:2px; -webkit-transition:all 30s linear; transition: all 30s linear;}